:root {
  --font-size-xs: 16px;
  --font-size-s1: 18px;
  --font-size-s2: 20px;
  --font-size-md: 56px;
  --font-size-lg: 80px;

  --font-family-commissioner: 'Commissioner', sans-serif;
}

h1,
h2,
h3,
body {
  font-family: var(--font-family-commissioner);
}

.commissioner--extra-bold-lg-black {
  font-weight: 800;
  font-style: normal;
  font-size: var(--font-size-lg);
  line-height: 88px;
  color: var(--text-black);
}

.commissioner--extra-bold-md-black {
  font-weight: 800;
  font-style: normal;
  font-size: var(--font-size-md);
  line-height: 64px;
  color: var(--text-black);
}

.commissioner--extra-bold-md-white {
  font-weight: 800;
  font-style: normal;
  font-size: var(--font-size-md);
  line-height: 64px;
  color: var(--white);
}

.commissioner--extra-bold-md-black {
  font-weight: 800;
  font-style: normal;
  font-size: var(--font-size-md);
  line-height: 64px;
  color: var(--text-black);
}

.commissioner--extra-bold-s1-white {
  font-weight: 800;
  font-style: normal;
  font-size: var(--font-size-s1);
  line-height: 32px;
  color: var(--white);
}

.commissioner--regular-s1-black {
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-s1);
  line-height: 32px;
  color: var(--text-black);
}

.commissioner--regular-s1-white {
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-s1);
  line-height: 32px;
  color: var(--white);
}

.commissioner--regular-xs-white {
  font-weight: 400;
  font-size: var(--font-size-xs);
  line-height: 32px;
  color: var(--white);
}

.commissioner--extra-bold-xs-white {
  font-weight: 800;
  font-size: var(--font-size-xs);
  line-height: 20px;
  color: var(--white);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .commissioner--extra-bold-lg-black {
    font-size: var(--font-size-md);
    line-height: 56px;
  }

  .commissioner--regular-xs-white,
  .commissioner--regular-s1-black {
    font-size: 15px;
    line-height: 25px;
  }
}
