.hero {
  display: flex;
  position: relative;
}

.hero__wrapper {
  width: 730px;
  height: 528px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 112px 0 0 165px;
  gap: 39px;
}

.hero__container--center {
  display: flex;
  align-self: flex-end;
  height: 800px;
}

.we-specialize-in-vis {
  width: 540px;
}

.bitmap {
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

.group-3 {
  width: 177px;
  height: 72px;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #ff9393;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero__container--center {
    height: 606px;
  }

  .hero__wrapper {
    width: 398px;
    height: 438px;
    margin: 77px 0 0 39px;
    gap: 19px;

    .we-specialize-in-vis {
      width: 398px;
    }
  }
}
