.header {
  height: 178px;
  display: flex;
  align-items: center;
}

.group-11 {
  flex: 1;
  padding-left: 165px;
  min-width: 330px;

  & img {
    width: 100%;
    max-width: 161px;
    height: auto;
    object-fit: contain;
  }
}

.rectangle {
  flex: 1;
  display: flex;
  align-items: center;
  height: 178px;
  width: 707px;
  background-color: var(--red);
  padding: 0 69px;
  gap: 47px;
}

.group-12 {
  display: flex;
  align-items: flex-start;
  width: 224px;
  height: 32px;
  gap: 32px;

  & li {
    cursor: pointer;
    &:hover {
      font-weight: 700;
    }
  }
}

.group-14 {
  width: 200px;
  height: 64px;
  background-color: var(--bg-black);
  color: var(--white);
  font-size: var(--font-size-xs);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #434356;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .group-11 {
    padding-left: 39px;
  }

  .rectangle {
    padding: 0 33px;
    width: 438px;
  }
}
