.subtitle {
  align-items: flex-start;
  display: flex;
  height: 196px;
  left: 730px;
  overflow: hidden;
  position: absolute;
  top: 1963px;
  width: 504px;
}

.number {
  left: 0;
  position: absolute;
  top: 0;
  font-family: var(--font-family-commissioner);
  white-space: nowrap;
  font-weight: 800;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 0;
  opacity: 0.25;
}

.subtitle__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 59px;
  min-height: 152px;
  position: absolute;
  top: 45px;
  width: 449px;
}

.brand-strategy-is {
  width: 445px;
}

.subtitle.copy {
  top: 2215px;
}

.subtitle.copy-2 {
  top: 2466px;
}

@media only screen and (max-width: 768px) {
  .subtitle {
    width: 355px;
    height: 159px;
    left: 373px;
    top: 1442px;
  }

  .subtitle__content {
    width: 339px;
    height: 115px;
    left: 16px;
    top: 44px;
    gap: 12px;
  }

  .subtitle.copy {
    top: 1650px;
  }

  .subtitle.copy-2 {
    top: 1840px;
  }

  .brand-strategy-is {
    width: 339px;
  }
}

@media only screen and (max-width: 375px) {
  .subtitle {
    width: 327px;
    height: 159px;
    left: 24px;
    top: 1660px;
  }

  .brand-strategy-is {
    width: 311px;
  }

  .subtitle.copy {
    top: 1859px;
  }

  .subtitle.copy-2 {
    top: 2058px;
  }
}
